In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from  sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#Loading the dataset
data = pd.read_csv("creditcard.csv")

In [5]:
#first five rows in the dataset
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
#dataset information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
#checking the number of missing values
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [12]:
#distribution of legit and fraudulant data
data["Class"].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

This dataset is highly inbalanced

In [14]:
#separating th data for analysis
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [16]:
legit.shape

(284315, 31)

In [17]:
fraud.shape

(492, 31)

In [18]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under Sampling

Build a sample containing equal number of fraud and legit transactions

In [22]:
legit_sample = legit.sample(n=492)

Concatenate legit and fraud

In [27]:
new_dataset = pd.concat([legit_sample, fraud], axis =0)

In [28]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
195530,131100.0,-1.252828,1.551425,0.071788,-0.835508,0.816242,-0.220355,1.051681,-1.463360,0.576449,...,0.511366,-0.469981,0.162699,-0.395239,-0.928573,0.055954,-0.347438,-0.021231,10.98,0
79443,58025.0,1.280556,-2.006115,1.170608,-0.875013,-2.274768,0.715348,-1.930704,0.329905,0.038517,...,-0.328337,-0.350203,-0.168555,-0.465264,0.415211,-0.033419,0.083287,0.036015,104.45,0
131411,79591.0,-0.683830,1.123076,1.550888,-0.150142,-0.247069,-0.726233,0.533222,0.132129,-0.336776,...,-0.204898,-0.542352,0.012807,0.486506,-0.231963,0.049025,0.362541,0.169005,0.89,0
281158,169972.0,2.359186,-1.359981,-1.346447,-1.725723,-0.816158,-0.296401,-1.082240,-0.149322,-1.132872,...,-0.225482,-0.174981,0.184784,0.054127,-0.071317,-0.152373,0.000145,-0.052286,15.00,0
237171,149126.0,1.788192,-1.654931,-0.198553,-0.842628,-1.451654,0.122726,-1.268092,0.122114,0.112682,...,0.388715,0.820260,0.059941,-0.431884,-0.484116,-0.244887,0.011353,-0.019468,175.00,0

In [29]:
new_dataset.shape

(984, 31)

In [30]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [31]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,91513.426829,-0.037011,-0.115927,0.146363,-0.074976,-0.000838,-0.082534,0.029656,0.003621,-0.067487,...,0.025256,0.044093,-0.011007,-0.020111,0.002685,0.024850,-0.009315,0.000844,0.014196,99.293110
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [32]:
#Splitting data into features and targets
X = new_dataset.drop(["Class"], axis=1)
y = new_dataset['Class']

In [34]:
print(X.head())

            Time        V1        V2        V3        V4        V5        V6  \
195530  131100.0 -1.252828  1.551425  0.071788 -0.835508  0.816242 -0.220355
79443    58025.0  1.280556 -2.006115  1.170608 -0.875013 -2.274768  0.715348
131411   79591.0 -0.683830  1.123076  1.550888 -0.150142 -0.247069 -0.726233
281158  169972.0  2.359186 -1.359981 -1.346447 -1.725723 -0.816158 -0.296401
237171  149126.0  1.788192 -1.654931 -0.198553 -0.842628 -1.451654  0.122726

              V7        V8        V9  ...       V20       V21       V22  \
195530  1.051681 -1.463360  0.576449  ...  0.189711  0.511366 -0.469981
79443  -1.930704  0.329905  0.038517  ... -0.253992 -0.328337 -0.350203
131411  0.533222  0.132129 -0.336776  ...  0.164292 -0.204898 -0.542352
281158 -1.082240 -0.149322 -1.132872  ... -0.423086 -0.225482 -0.174981
237171 -1.268092  0.122114  0.112682  ...  0.361430  0.388715  0.820260

             V23       V24       V25       V26       V27       V28  Amount
195530  0.162699 -0.395239 -0.928573  0.055954 -0.347438 -0.021231   10.98
79443  -0.168555 -0.465264  0.415211 -0.033419  0.083287  0.036015  104.45
131411  0.012807  0.486506 -0.231963  0.049025  0.362541  0.169005    0.89
281158  0.184784  0.054127 -0.071317 -0.152373  0.000145 -0.052286   15.00
237171  0.059941 -0.431884 -0.484116 -0.244887  0.011353 -0.019468  175.00

[5 rows x 30 columns]

In [35]:
y.head()

195530    0
79443     0
131411    0
281158    0
237171    0
Name: Class, dtype: int64

In [42]:
#Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=2)

In [43]:
print(X.shape, X_train.shape, y_train.shape)

(984, 30) (787, 30) (787,)

Model Training

In [44]:
model = LogisticRegression()

In [45]:
# training the logistic regression model with training data
model.fit(X_train, y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [47]:
#Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [50]:
print("Accuracy on training data:", training_data_accuracy)

Accuracy on training data: 0.9440914866581956

In [52]:
X_test_predict = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_predict, y_test)

In [53]:
print("Accuracy on test data:", test_data_accuracy)

Accuracy on test data: 0.9289340101522843